* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
	padding: 0;
}

.container {
	margin: auto;
	max-width: 960px;
}

.list {
	margin-right: -6px;
}

.list:after {
	clear: both;
	content: "";
	display: block;
}

.list > li {
	border: 2px solid #000;
	float: left;
	margin: 0 -2px -2px 0;
	position: relative;
	width: 25%;
	z-index: 0;
}

.list > li:before,
.list > li:after {
	background: #fff;
	content: "";
	position: absolute;
	z-index: -1;
}

.list > li:before {
	bottom: 20px;
	left: -2px;
	right: -2px;
	top: 20px;
}

.list > li:after {
	bottom: -2px;
	left: 20px;
	right: 20px;
	top: -2px;
}
